@font-face {
	font-family: minion;
	src: url('../.fonts/Minion Display Regular.otf');
}

@font-face {
	font-family: minioni;
	src: url('../.fonts/Minion Display Italic.otf');
}

@font-face {
	font-family: trajanb;
	src: url('../.fonts/TrajanPro-Bold.otf');
}

@font-face {
	font-family: trajan;
	src: url('../.fonts/TrajanPro-Regular.otf');
}

@font-face {
	font-family: cinzel;
	src: url('../.fonts/Cinzel-Regular_1.otf');
}

@font-face {
	font-family: butlerreg;
	src: url('../.fonts/BUTLER_REGULAR.OTF');
}

@font-face {
	font-family: butlerbold;
	src: url('../.fonts/BUTLER_BOLD.OTF');
}

@font-face {
	font-family: brit;
	src: url('../.fonts/britanic.ttf');
}

@font-face {
	font-family: tbc;
	src: url('../.fonts/trebuc.ttf');
}

@font-face {
	font-family: tbi;
	src: url('../.fonts/trebucbi.ttf');
}

@font-face {
	font-family: tit;
	src: url('../.fonts/trebucit.ttf');
}

@font-face {
	font-family: blacksword;
	src: url('../.fonts/Blacksword.otf');
}

@font-face {
	font-family: aire;
	src: url('../.fonts/AireBoldItalicStd.ttf');
}

@font-face {
	font-family: bodoni;
	src: url('../.fonts/BodoniModa-VariableFont_opsz,wght.ttf');
}

@font-face {
	font-family: florilane;
	src: url('../.fonts/Florilane Cardillac.ttf');
}

@font-face {
	font-family: foglihten;
	src: url('../.fonts/FoglihtenPCS-068_1.otf');
}

@font-face {
	font-family: qaskin;
	src: url('../.fonts/QaskinBlack_PersonalUse_0.ttf');
}

@font-face {
	font-family: aston;
	src: url('../.fonts/Aston Script.ttf');
}

@font-face {
	font-family: helvetica;
	src: url('../.fonts/HelveticaNeueRoman.otf');
}

@font-face {
	font-family: goldenhill;
	src: url('../.fonts/GoldenHillsDEMO.ttf');
}

@font-face {
	font-family: highspirited;
	src: url('../.fonts/High Spirited.ttf');
}

@font-face {
	font-family: permapetit;
	src: url('../.fonts/ParmaPetit-Normal_1.ttf');
}

@font-face {
	font-family: aboreto;
	src: url('../.fonts/Aboreto-Regular.ttf');
}

@font-face {
	font-family: afterglow;
	src: url('../.fonts/Afterglow-Regular.ttf');
}

@font-face {
	font-family: claytona;
	src: url('../.fonts/claytona.otf');
}

@font-face {
	font-family: miltontwo;
	src: url('../.fonts/Milton_Two.otf');
}

@font-face {
	font-family: miltontwob;
	src: url('../.fonts/Milton_Two_Bold.otf');
}

@font-face {
	font-family: manstein;
	src: url('../.fonts/Manstein.ttf');
}

@font-face {
	font-family: arolse;
	src: url('../.fonts/Arolse\ Belmonteria\ Script.otf');
}

@font-face {
	font-family: greatvibes;
	src: url('../.fonts/GreatVibes-Regular.ttf');
}

@font-face {
	font-family: garamond;
	src: url('../.fonts/AGaramond-Regular.otf');
}

.minion {
	font-family: 'minion', serif;
}

.minioni {
	font-family: 'minioni', serif;
}

.trajanb {
	font-family: 'trajanb', serif;
}

.trajan {
	font-family: 'trajan', serif;
}

.cinzel {
	font-family: 'cinzel', serif;
}

.butlerreg {
	font-family: 'butlerreg', serif;
}

.butlerbold {
	font-family: 'butlerbold', serif;
}

.brit {
	font-family: 'brit', serif;
}

.tbc {
	font-family: 'tbc', sans-serif;
}

.tbi {
	font-family: 'tbi', sans-serif;
}

.tit {
	font-family: 'tit', sans-serif;
}

.blacksword {
	font-family: 'blacksword', cursive;
}

.aire {
	font-family: 'aire', serif;
}

.bodoni {
	font-family: 'bodoni', serif;
}

.florilane {
	font-family: 'florilane', serif;
}

.foglihten {
	font-family: 'foglihten', serif;
}

.qaskin {
	font-family: 'qaskin', serif;
}

.aston {
	font-family: 'aston', cursive;
}

.helvetica {
	font-family: 'helvetica', sans-serif;
}

.goldenhill {
	font-family: 'goldenhill', serif;
}

.highspirited {
	font-family: 'highspirited', cursive;
}

.permapetit {
	font-family: 'permapetit', serif;
}

.aboreto {
	font-family: 'aboreto', serif;
}

.afterglow {
	font-family: 'afterglow', serif;
}

.claytona {
	font-family: 'claytona', serif;
}

.miltontwo {
	font-family: 'miltontwo', serif;
}

.miltontwob {
	font-family: 'miltontwob', serif;
}

.manstein {
	font-family: 'manstein', serif;
}

.arolse {
	font-family: 'arolse', cursive;
}

.greatvibes {
	font-family: 'greatvibes', cursive;
}

.garamond {
	font-family: 'garamond', serif;
}
