body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.button1 {
	border: 1px #115CAD solid;
	background: #115CAD;
	color: #F0D633;
	padding: 0.5em 2em;
	border-radius: 5px;
}

.button2 {
	border: 1px #33B3E8 solid;
	background: #33B3E8;
	color: #ffffff;
	cursor: hand;
	padding: 0.5em 2em;
	border-radius: 10px;
	box-shadow: rgba(51, 179, 232, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.button2:hover {
	border: 1px #33B3E8 solid;
	background: #ffffff;
	color: #33B3E8;
	cursor: pointer;
}

.fontwhite{
	color:#ffffff;
}
.bgwhite{
	background:#ffffff;
}
.fonthitam{
	color:#191919;
}
.bghitam{
	background:#191919;
} 
.fontkuning{
	color:#F0D633;
}
.fontnavy{
	color:#00175C;
}
.bgbiru{
	background:#33B3E8;
}
.bgbiru2{
	background:#115CAD;
}
